<html>
  <head>
    {{ content_for_header }}
    <link rel="stylesheet" href="{{ 'css/theme.css' | asset_url }}">
  </head>

  <body>
    <div class="site-wrapper">
      {% sections 'header-group' %}
      {{ content_for_layout }}
    </div>
  </body>
</html>
