.collection-products {
    display: flex;
    justify-content: space-around;
    gap: 1;
    margin-top: 5vh;
}

.collection-products .product {
}

.collection-products .product img {
    object-fit: cover;
}

.collection-products .product .product-title {
    font-size: 1.2rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}