.header {
    background-color: transparent;;
    height: 5vh;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    left: 5vw;
    align-items: center;

}

.header .header-title {
    color: white;
    font-size: 1.5rem;
}