.middle-component {
  display: flex;
  background-color: #d6f1fa;
  justify-content: space-around;
  height: 54vh;
}

.graphic-middle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  height: 100%;
  position: relative;
  z-index: 1;
}

.text-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  align-items: center;
  font-size: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333333;
}

.content {
  width: 30%;
  text-align: center;
  overflow-wrap: break-word;
}

.text-circle {
  animation: spin 20s linear infinite;
}

.content-right-side {
  position: relative;
  width: 100%;
}

.triangle {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.triangle-svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1024px) {
  .middle-component {
    flex-direction: column;
    align-items: center;
  }

  .graphic-middle {
    justify-content: center;
  }

  .text-desc {
    gap: 2rem;
  }

  .content-right-side {
    width: 100%;
    justify-content: center;
  }

  .title {
    font-size: 2.5rem;
  }

  .content {
    width: 30ch;
  }

  .rimage {
    width: 80%;
  }
}
