.middle-component {
  display: flex;
  width: 100%;
  height: 50vh;
  background-color: #d6f1fa;
  position: relative;
  overflow: hidden;
}

.graphic-middle {
  position: absolute;
  width: max-content;
  left: 60vw;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 1rem;
  z-index: 1;
}

.middle-component .triangle {
  position: relative;
  transform: translateX(30vw);
  top: 10vh;
  right: 10vw;
}

.text-desc {
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: center;
  gap: 5rem;
  align-items: center;
  width: 25vw;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    color: #333333;
}

.content {
    width: 40ch;
    text-overflow: 5ch;
    text-align: center;
}

.text-cirlce {
    animation: spin 20s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
