* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.site-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}